<div class="navbar">
    <a href="javascript:void(0)" >
      <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i></div>
    </a>
    <div class="sidenav">
      <a href="javascript:void(0)" class="sidebar-overlay" ></a>
      <nav>
        <div >
          <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Back
          </div>
        </div>
        <ul  class="sidebar-menu">
          <li >
              <!-- Sub -->
              <a href="javascript:void(0)" >
                 
                 <span class="sub-arrow"  ></span>
              </a>
              <!-- Link -->
              <a [routerLink]="" >
                 
                 <span class="sub-arrow"></span>
              </a>
              <!-- External Link -->
              <a href="#" >
                 
                 <span class="sub-arrow" ></span>
              </a>
              <!-- External Tab Link -->
              <a href="" >
                
                 <span class="sub-arrow" ></span>
              </a>
              <!-- 2nd Level Menu -->
              <ul >
                
                <!-- Simple Menu Start-->
                <ng-container>
                  <li >
                    <!-- Link -->
                    <a [routerLink]="" >
                      
                    </a>
                    <!-- External Link -->
                    <a href="">
                     
                    </a>
                    <!-- External Tab Link -->
                    <a href=""  >
                      
                    </a>
                    <!-- 3rd Level Menu -->
                    <ul >
                      <li >
                          <!-- Link -->
                          <a [routerLink]="" >
                            
                          </a>
                          <!-- External Link -->
                          <a href="" >
                            
                          </a>
                          <!-- External Tab Link -->
                          <a href="">
                            
                          </a>
                          <!-- 4th Level Menu -->
                          <ul >
                            <li >
                                <!-- Link -->
                                <a [routerLink]="" >
                                   
                                </a>
                                <!-- External Link -->
                                <a href="" >
                                
                                </a>
                                <!-- External Tab Link -->
                                <a href="">
                                 
                                </a>
                                <!-- 5th Level Menu -->
                                <ul >
                                  <li >
                                      <!-- Link -->
                                      <a [routerLink]="" >
                                      
                                      </a>
                                      <!-- External Link -->
                                      <a href="" >
                                  
                                      </a>
                                      <!-- External Tab Link -->
                                      <a href="" >
                                        
                                      </a>
                                  </li>
                                </ul>
                            </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ng-container>
                <!-- Simple Menu End-->
        
                <!-- Mega Menu Start-->
                <ng-container >
                <li>
                  <div class="row m-0">
                    <div class="col-xl-4" >
                      <div class="link-section">
                        <h5></h5>
                        <ul>
                          <li >
                             <!-- Link -->
                              <a [routerLink]="" >
                                
                              </a>
                              <!-- External Link -->
                              <a href="" >
                               
                              </a>
                              <!-- External Tab Link -->
                              <a href="" >
                              
                              </a>
                          </li>
                        </ul>    
                      </div>
                    </div>
                    <div class="col-xl-4">
                        <a [routerLink]="" class="mega-menu-banner">
                            <img src="" alt="" class="img-fluid">
                        </a>
                    </div>
                  </div>
                </li>
                </ng-container>
                <!-- Mega Menu End-->
              </ul>
            </li>
        </ul>
      </nav>
    </div>
</div>
  


