<section class="section-b-space">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 ">
                <span class="float-right back-btn-margin " >
                    <a [routerLink]="['/dashboard']">
                        <i class="fa fa-angle-double-left back-btn btn-pr" aria-hidden="true">
                            back to dashboard
                        </i>
                    </a>
                </span>
                <h3>My Orders</h3>
                <div class="dashboard-right">
                    <div class="dashboard box-margin order-box-margin">
                          <div class="col-sm-12 text-align ">
                              <input type="radio">
                              <label class="label-padding">Packed</label>
                              <input type="radio">
                              <label class="label-padding">Shipped</label>
                              <input type="radio">
                              <label class="label-padding">Delivered</label>

                           </div>
                              <h4>hiii my fisrt orde</h4>
                              <h4>₹100</h4>

                    </div>
                </div>
                <div class="dashboard-right">
                    <div class="dashboard box-margin order-box-margin">
                          <div class="col-sm-12 text-align ">
                              <input type="radio">
                              <label class="label-padding">Packed</label>
                              <input type="radio">
                              <label class="label-padding">Shipped</label>
                              <input type="radio">
                              <label class="label-padding">Delivered</label>

                           </div>
                              <h4>hiii my fisrt orde</h4>
                              <h4>₹100</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>