.order-box-margin{
    margin-bottom: 2%;
}
.back-btn{
    font-size: 18px;
}
.back-btn-margin{
    margin-bottom: 1%;
}
.btn-pr:hover {
    cursor: pointer;
    color: red;
}
.text-align{
    text-align: center;
}
.label-padding{
    padding-right: 1%;
}