.btn-center {
  text-align: center !important;
}
.btn {
  line-height: 6px !important;
}
.forget-link-margin {
  margin-bottom: 15px;
  padding-top: 8%;
}
.link-margin {
  margin-bottom: 15px;
  padding-top: 16%;
}
.theme-form input {
  margin-bottom: 17px !important;
}
.link-color {
  color: #172337 !important;
}
.mobile-title {
  padding-bottom: 23px;
  padding-top: 8%;
  font-size: 24px;
  font-weight: 600;
}
.header-padding {
  padding-left: 21%;
}
.btn-pr:hover {
  cursor: pointer;
}
.form-control {
  font-size: 12px !important;
}
.btn-style {
  position: absolute !important;
  right: -48px !important;
  top: -31px !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
  cursor: pointer !important;
  color: #ffffff !important;
  font-size: 48px !important;
  line-height: 1 !important;
  vertical-align: top !important;
  font-weight: 200 !important;
}
.btn-mobile {
  right: 6px !important;
  font-size: 22px !important;
}
