<ng-template class="theme-modal " #changePasswordModal let-modal>
    <button class="btn-style btn-mobile" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
        x</button>
    <div class="modal-content">
        <div class="modal-header header-padding">
            <form class="theme-form " [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class=" mobile-title">
                    <span class="text-style">Change Password</span>
                </div>
                <label for="review">New Password</label>
                <div class="input-group ">
                    <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword"
                        [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                </div>
                <div *ngIf="submitted && f.newPassword.errors" class="text-danger">
                    <div *ngIf="f.newPassword.errors.required" class="par-txxt">*New Password is required</div>
                </div>
                <div class="btn-center">
                    <button class="btn btn-solid" (click)="ChangePassword()">Change</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>