.color-back {
  background-color: #fedf00;
  padding-bottom: 15%;
  padding-top: 14%;
}
.text-style {
  font-size: 30px;
  font-weight: 500;
  color: #2d2b2b;
  line-height: 2 !important;
}
.para-text {
  font-size: 18px !important;
  color: #615353 !important;
  margin-top: 24px !important;
}
.login-image {
  width: 100% !important;
}
.btn-pr:hover {
  cursor: pointer;
}
.btn-style {
  position: absolute !important;
  right: -48px !important;
  top: -31px !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
  cursor: pointer !important;
  color: #ffffff !important;
  font-size: 48px !important;
  line-height: 1 !important;
  vertical-align: top !important;
  font-weight: 200 !important;
}
.btn-mobile {
  right: 6px !important;
  font-size: 22px !important;
}
.form-align-mobileview {
  padding-left: 10px !important;
  width: 95% !important;
}
.col-align {
  max-width: 56% !important;
  width: 56% !important;
}
