<ng-template class="theme-modal " #loginModal let-modal>
    <div class="row  d-lg-inline d-none ">
        <div class=" col-lg-5 color-back float-left">
            <span class="text-style">KumariA2Z</span>
            <p class="para-text">
                <span>Get access to your Orders, Wishlist and Recommendations</span>
            </p>
            <span>
                <img src="./assets/images/a2z/login/login-page.png" class="login-image ">
            </span>
        </div>
        <div class=" col-lg-6 col-align float-left">
            <container-element [ngSwitch]="formChange">
                <app-loginform *ngSwitchCase="'login'" (forgetBtnClick)="formChange=$event"
                    (registerBtnClick)="formChange=$event"></app-loginform>
                <app-resetpasswordform *ngSwitchCase="'reset'" (registerBtnClick)="formChange=$event">
                </app-resetpasswordform>
                <app-registerform *ngSwitchCase="'register'"></app-registerform>
            </container-element>
        </div>
        <div>
            <button class="btn-style " data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
                x</button>
        </div>
    </div>
    <div class="form-align-mobileview d-lg-none">
        <button class="btn-style btn-mobile" data-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            x</button>
        <container-element [ngSwitch]="formChange">
            <app-loginform *ngSwitchCase="'login'" (forgetBtnClick)="formChange=$event"
                (registerBtnClick)="formChange=$event"></app-loginform>
            <app-resetpasswordform *ngSwitchCase="'reset'" (registerBtnClick)="formChange=$event">
            </app-resetpasswordform>
            <app-registerform *ngSwitchCase="'register'"></app-registerform>
        </container-element>
    </div>
</ng-template>