<ng-template class="theme-modal" #productView let-modal>
    <div class="modal-content quick-view-modal">
        <div class="modal-body">
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="col-lg-6  col-xs-12">
                    <div class="quick-view-img">
                        <img [src]="ImageSrc ? ImageSrc : products.assets[0].assetUrl"
                            [alt]="products.assets[0].assetType" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h2>{{ products?.productName | titlecase }}</h2>
                        <h3>₹{{ products.price}}
                            <del *ngIf="products?.discount"><span class="money">₹{{ products.price}}</span></del>
                        </h3>
                        <div class="border-product">
                            <h6 class="product-title">product details</h6>
                            <p>{{ products.description.substring(0, 200)+'...' }} </p>
                        </div>
                        <div class="product-description border-product">
                            <!-- <div class="size-box" *ngIf="productDetails[0].stock[0].attributes.length">
                                <h6 class="product-title">product attributes</h6>
                                <div class="attr-box" *ngFor="let attribute of productDetails[0].stock[0].attributes">
                                    {{attribute.attributeName}}
                                    <span>{{attribute.value}}</span>
                                </div>
                            </div> -->
                            <h6 class="product-title">quantity</h6>
                            <app-quantity ></app-quantity>
                        </div>
                        <div class="product-buttons">
                            <a href="javascript:void(0)" class="btn btn-solid">add to cart</a>
                            <a class="btn btn-solid">view detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>