.attr-box {
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #e9ecef;
  margin-bottom: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  span {
    margin-left: 10px;
    text-transform: none;
  }
}
.attribute {
  display: inline-flex;
  cursor: pointer;
}
.instock-color {
  font-size: 15px;
  font-weight: 600;
  color: #28a745;
}
.price-space{
  margin-left: 8px;
}
.attribute-separate {
  padding-right: 80px;
}
.size-box ul li {
  width: 60px;
  height: 32px;
  border: 1px solid #fedf00;
}
.active-box {
  border: 2px solid #fedf00;

}

.text-left {
  text-align: left !important;
}
.price-margin{
  margin-top: 3px;
}
.discount-margin{
  margin-top: 6px;
}
.offer-margin{
  margin-top: 9px;

}
