<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar" (click)="ToggleDashboard()">
                    <a hre="javascript:void(0)" class="popup-btn">
                        my account
                    </a>
                </div>
                <div class="dashboard-left" [class.open]="openDashboard">
                    <div class="collection-mobile-back" (click)="ToggleDashboard()">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> back
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li class="active"><a href="javascript:void(0)">Account Info</a></li>
                            <li><a [routerLink]="['/address_book']">Address Book</a></li>
                            <li><a [routerLink]="['/my_order']">My Orders</a></li>
                            <li><a [routerLink]="['/wishlist']">My Wishlist</a></li>
                            <li><a class="btn-click" (click)="changePasswordModal.openModal()">Change Password</a></li>
                            <li class="last btn-click"><a (click)="logOut()">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard-right">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>My Dashboard
                                <a (click)="edit()" *ngIf="this.showDiv" class="float-right edit-btn">
                                    <i class="fa fa-pencil-square-o icon-Size" aria-hidden="true"></i>
                                </a>
                                <a (click)="cancel()" *ngIf="this.isSelectBtn" class="float-right edit-btn">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                                <a (click)="updateProfileDetails()" *ngIf="this.isSelectBtn"
                                    class="float-right edit-btn save-btn-align">
                                    <i class="fa fa-check success" aria-hidden="true"></i>
                                </a>
                            </h2>
                        </div>
                        <div class="welcome-msg">
                            Hello, <p>{{userProfile?.profileName}}</p>
                        </div>
                        <div class="box-account box-info">
                            <div class="box-head">
                                <h3 class="text-align">Account Information
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title profile-box-border">
                                            <h3>Name</h3>
                                        </div>
                                        <div class="box-content">
                                            <div class="input-group ">
                                                <input type="text" [readonly]="isProfileForm" class="form-control"
                                                    value="profileName" [(ngModel)]="profileName">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title profile-box-border">
                                            <h3>Email Address</h3>
                                        </div>
                                        <div class="box-content">
                                            <div class="input-group ">
                                                <input type="email" [readonly]="isProfileForm" class="form-control"
                                                    value="email" [(ngModel)]="email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title profile-box-border">
                                            <h3>Gender</h3>
                                        </div>
                                        <div class="input-group " *ngIf="this.genderbox">
                                            <input *ngIf="gender==0" value="Male" [readonly]="isProfileForm"
                                                class="form-control">
                                            <input *ngIf="gender==1" value="Female" [readonly]="isProfileForm"
                                                class="form-control">
                                        </div>
                                        <div class="box-content" *ngIf="this.genderDiv">
                                            <input type="radio" [(ngModel)]="gender" value=0>
                                            <label class="label-padding">Male</label>
                                            <input type="radio" [(ngModel)]="gender" value=1>
                                            <label class="label-padding">Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title profile-box-border">
                                            <h3>mobile Number
                                                <a (click)="changeNumber()" *ngIf="this.showNumberDiv"
                                                    class="float-right edit-btn">
                                                    <i class="fa fa-pencil-square-o icon-Size" aria-hidden="true"></i>
                                                </a>
                                                <a (click)="changeNumberCancel()" *ngIf="this.isEditBtn"
                                                    class="float-right edit-btn save-btn-align">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="box-content">
                                            <div class="input-group ">
                                                <input type="text" [readonly]="isNumberForm" class="form-control"
                                                    value="mobile" [(ngModel)]="mobile">
                                            </div>
                                            <div *ngIf="this.numberDiv">
                                                <label>New MobileNumber</label>
                                                <div class="input-group ">
                                                    <input type="text" required [readonly]="isMobileForm"
                                                        class="form-control" placeholder="MobileNumber"
                                                        [(ngModel)]="newUserName">
                                                </div>
                                                <div>
                                                    <a (click)="requestChangeNumber()" class=" edit-btn">verfiy</a>
                                                    <a (click)="requestChangeNumber()"
                                                        class=" edit-btn float-right">resendOtp</a>
                                                </div>
                                            </div>
                                            <div *ngIf="this.otpDiv">

                                                <label>Enter your Otp</label>
                                                <div class="float-right success" *ngIf="showSuccessMessage">
                                                    OTP Send Your MobileNumber
                                                </div>
                                                <div class="input-group ">
                                                    <input type="number" [readonly]="isMobileForm" class="form-control"
                                                        placeholder="enter your otp" value="otp" [(ngModel)]="otp">
                                                </div>
                                                <div>
                                                    <a (click)="updateNumber()" class=" edit-btn">Update</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-changepassword #changePasswordModal></app-changepassword>