.label-padding {
  padding-right: 1%;
  padding-left: 1%;
}
.edit-btn {
  color: red;
  font-size: 17px;
  cursor: pointer;
}
.text-align {
  text-align: center;
}
.profileform-row-align {
  display: contents !important;
}
.profile-box-border {
  border-bottom: 0px solid #ddd !important;
}
.save-btn-align {
  margin-right: 2%;
}
.success {
  color: green;
}
.dashboard{
  border: 1px solid #fedf00 !important;
}
.btn-click {
  cursor: pointer;
}