<div class="searchbar d-lg-inline d-none">
    <div class="search dropdown">
        <select class="searchfilter  dropdown-toggle dropdown-menu-left" type="button" 
             aria-placeholder="ALL" [(ngModel)]="categoryId">
        
            <option aria-selected="true">All</option>
            <option [ngValue]="menuItem.id" *ngFor="let menuItem of menuItems"> {{menuItem.categoryName}}</option>
        </select>
        <input type="text" [(ngModel)]="searchTerm" class="searchTerm" placeholder="What are you looking for?">
        <button type="submit" (click)="searchItems()" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>
<div class="searchbar-mobile d-lg-none">
    <div class="search dropdown">
        <select class="searchfilter-mobile dropdown-toggle dropdown-menu-left" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [(ngModel)]="categoryId">
            <option>ALL</option>
            <option [ngValue]="menuItem.id" *ngFor="let menuItem of menuItems"> {{menuItem.categoryName}}</option>
        </select>
        <input type="text" [(ngModel)]="searchTerm" class="searchTerm-mobile" placeholder="What are you looking for?">
        <button type="submit" (click)="searchItems()" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>