
    <!-- <p>{{ product.description }}</p> -->
    <div class="single-product-tables border-product detail-section">
    <table>
        <tbody>
          <tr>
            <td>Febric:</td>
            <td>Chiffon</td>
          </tr>
          <tr>
            <td>Color:</td>
            <td>Yellow</td>
          </tr>
          <tr>
            <td>Material:</td>
            <td>Crepe printed</td>
          </tr>
          <tr>
            <td>Avalibility:</td>
           
          </tr>
        </tbody>
      </table>
      </div>