.toptab {
  display: flex;
  align-items: center;
  margin: 2%;
}
.top-menu--back-color {
  background-color: #fedf00 !important;
  margin-top: -22px !important;
}
.hr-color {
  margin-top: -22px;
  background-color: #888383a3;
}
.toolbar {
  margin-left: -39px;
}

