<header class="sticky top-menu--back-color" [ngClass]="class" [class.fixed]="stick && sticky">
    <div class="container">
        <div class="row toptab ">
            <div class="col-lg-3 ">
                <app-logo></app-logo>
            </div>
            <div class="col-lg-7">
                <div>
                    <app-searchbar></app-searchbar>
                </div>
            </div>
            <div class="col-lg-2 ">
                <div class="toolbar">
                    <div class="mobile-fix-option">
                        <app-toolsbar></app-toolsbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<hr class="hr-color">