<div *ngFor="let productimages of productDetail">
    <div *ngFor="let stocks of productimages.stock">
    <owl-carousel-o [options]="ProductDetailsMainSliderConfig" #owlCar class="product-slick">
        <ng-container *ngFor="let asset of stocks.assets">
                     
                    <ng-template  carouselSlide>
                      
    
                            <div > 
                                <img [defaultImage]="'./assets/images/product/placeholder.jpg'"
                                    [lazyLoad]="asset.assetUrl"                  
                                     [alt]="asset.assetType"
                                     class="img-fluid lazy-loading">
                            </div>
    
                        
                        
                    </ng-template>            
            
        </ng-container>
    </owl-carousel-o>
    <div class="row">
        <div class="col-12 p-0">

            <div class="slider-nav">
                <owl-carousel-o [options]="ProductDetailsThumbConfig" class="product-slick">
                    <ng-container *ngFor="let asset of stocks.assets; index as i">
                        <ng-template carouselSlide [id]="i">
                            <div class="owl-thumb" >
                                <img [defaultImage]="'assets/images/product/placeholder.jpg'"
                                [lazyLoad]="asset.assetUrl"                  
                                [alt]="asset.assetType"
                                class="img-fluid lazy-loading">
                            
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>
</div>


    
