.box-margin{
    margin-bottom: 2%;
}
.address-box{
    margin-bottom: 5%;
}
.edit-btn-margin{
    margin-left: 2%;
}
.back-btn{
    font-size: 18px;
}
.back-btn-margin{
    margin-bottom: 1%;
}
.btn-pr:hover {
    cursor: pointer;
    color: red;
}
.dashboard{
    border: 1px solid #fedf00 !important;
  }
.text-align{
    margin-bottom: 2%;
}
.btn-click {
    cursor: pointer;
}