<div class="product-right product-form-box">
  <div *ngIf="attributeGroups">
    <div class="size-box" *ngFor="let attributeGroup of attributeGroups | keyvalue">
      <h4>{{attributeGroup.key}}</h4>
      <ul>
        <li *ngFor="let attribute of attributeGroup.value">
          <a (click)="setCurrentStockPointer(attribute.stockId)"
            [ngClass]="{ 'active-box':  productDetail.stock[currentStockPointer].id == attribute.stockId }">{{attribute.attributeValue}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="product-description border-product">
    <h5 class="avalibility" *ngIf="counter <= productDetail.stock[currentStockPointer].quantity"><span>In Stock</span>
    </h5>
    <h5 class="avalibility" *ngIf="counter > productDetail.stock[currentStockPointer].quantity"><span>Out of
        Stock</span></h5>
    <h6 class="product-title" *ngIf="counter <= productDetail.stock[currentStockPointer].quantity">quantity</h6>
    <app-quantity [counter]="counter" (checkoutQuantity)="updateCheckoutQuantity($event)"
      *ngIf="productDetail.stock[currentStockPointer].quantity >0"></app-quantity>
  </div>
  <div class="product-buttons" *ngIf="counter <= productDetail.stock[currentStockPointer].quantity">
    <a href="javascrip:void(0)" title="Add to cart" (click)="addToCart(productDetail)" class="btn btn-solid">add to
      cart</a>
    <a href="javascrip:void(0)" class="btn btn-solid">buy now</a>
  </div>
</div>