.btn-center{
    text-align: center !important;
}
.btn{
    line-height: 6px !important;
}
.link-margin{
    margin-bottom: 15px;
}
.theme-form input{
    margin-bottom: 17px !important;
}
.link-color{
    color: #172337 !important;
}
.mobile-title{
    padding-bottom: 23px;
    font-size: 30px;
    font-weight: 600;
}