<form class="theme-form" #f="ngForm" (ngSubmit)="addReview(f)" >
    <div class="form-row">
        <div class="col-md-12 ">
            <div class="media">
                <label>Your rating of this product
                </label>
                <div class="media-body ml-3">
                    <div>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>           
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <textarea class="form-control" placeholder="Write Your Testimonial Here...."
             name= "ratingDescription" ngModel #ratingDescription="ngModel"    
               rows="6">
            </textarea>
        </div>
        <div class="col-md-12">
            <button class="btn btn-solid" type="submit">Submit YOur Review</button>
        </div>
    </div>
</form>


<!-- <form [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()" 
class="form-inline subscribe-form">
  <div class="form-group mx-sm-3">
    <input type="email" formControlName="subscriberemail" class="form-control"
      placeholder="Enter your email" [ngClass]="{
        'is-invalid': submitted && f.subscriberemail.errors
      }" />
    <div *ngIf="submitted && f.subscriberemail.errors" class="text-danger"></div>
  </div>
  <button mat-button cdkFocusInitial class="btn btn-solid" (click)="addSubscriptions()">
    subscribe
  </button>
</form> -->