.star-rate:hover {
  cursor: pointer;
  color: #f2b309;
}
.btn-solid {
  padding-top: 8px !important;
  padding-right: 3px !important;
  padding-bottom: 8px !important;
  padding-left: 3px !important;
}
.avatorlogo {
  font-size: 35px;
  padding-top: 30px;
  padding-right: 3px;
}
.reviewstar-align {
  padding-top: 0px !important;
}
.reviewmessage-align {
  padding-top: 5px !important;
  color: black !important;
  padding-left: 8px !important;
}
.reviewname-align {
  padding-top: 45px !important;
  line-height: 0% !important;
  padding-left: 9px !important;
}
.reviewcount {
  margin: 21px 6px;
  background-color: #0e6f06;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 600;
  color: white;
  border-radius: 4px;
}
.barstar-align {
  margin-top: 6px;
}
