<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <app-product-assets-view [productDetails]="productDetails | async"></app-product-assets-view>
                </div>
                <div class="col-lg-4">
                    <!-- <app-product-descriptions></app-product-descriptions> -->
                </div>
                <div class="col-lg-4">
                    <!-- <app-product-assets-details></app-product-assets-details> -->
                </div>
            </div>
            <!-- <section class="tab-product m-0">
              <div class="row">
                  <div class="col-sm-12 col-lg-12">
                      <ngb-tabset [type]="'tabs'" class="nav-material">
                          <ngb-tab>
                              <ng-template ngbTabTitle>Description</ng-template>
                              <ng-template ngbTabContent>
                                  <p>{{ product.description }}</p>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                              <ng-template ngbTabTitle>Video</ng-template>
                              <ng-template ngbTabContent>
                                  <div class="mt-3 text-center">
                                      <iframe width="560" height="315" src="https://www.youtube.com/embed/BUWzX78Ye_8" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                  </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                              <ng-template ngbTabTitle>Write Review</ng-template>
                              <ng-template ngbTabContent>
                                  <form class="theme-form">
                                      <div class="form-row">
                                          <div class="col-md-12 ">
                                              <div class="media">
                                                  <label>Rating</label>
                                                  <div class="media-body ml-3">
                                                      <div class="rating three-star">
                                                          <i class="fa fa-star"></i>
                                                          <i class="fa fa-star"></i>
                                                          <i class="fa fa-star"></i>
                                                          <i class="fa fa-star"></i>
                                                          <i class="fa fa-star"></i>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <label for="name">Name</label>
                                              <input type="text" class="form-control" id="name" placeholder="Enter Your name" required>
                                          </div>
                                          <div class="col-md-6">
                                              <label for="email">Email</label>
                                              <input type="text" class="form-control" id="email" placeholder="Email" required>
                                          </div>
                                          <div class="col-md-12">
                                              <label for="review">Review Title</label>
                                              <input type="text" class="form-control" id="review" placeholder="Enter your Review Subjects" required>
                                          </div>
                                          <div class="col-md-12">
                                              <label for="review">Review Title</label>
                                              <textarea class="form-control" placeholder="Wrire Your Testimonial Here" id="exampleFormControlTextarea1" rows="6"></textarea>
                                          </div>
                                          <div class="col-md-12">
                                              <button class="btn btn-solid" type="submit">Submit YOur Review</button>
                                          </div>
                                      </div>
                                  </form>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                  </div>
              </div>
          </section> -->
        </div>
    </div>
</section>