<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <app-product-assets-view [productDetail]="productDetails | async"></app-product-assets-view>
                </div>
                <!-- <div class="col-lg-4">
                    <app-product-descriptions></app-product-descriptions>
                </div>
                <div class="col-lg-4">
                    <app-product-assets-details></app-product-assets-details>
                </div> -->
            </div>
            <section class="tab-product m-0">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <ngb-tabset [type]="'tabs'" class="nav-material">
                            <ngb-tab>
                                <ng-template ngbTabTitle>Description</ng-template>
                                <ng-template *ngFor="let productDescription of productDetails | async" ngbTabContent>
                                    <app-descriptions [productDescription]="productDescription "></app-descriptions>
                                </ng-template>

                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>Specifications</ng-template>
                                <ng-template ngbTabContent>
                                    <app-specification></app-specification>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>Reviews</ng-template>

                                <ng-template ngbTabContent>
                                    <app-reviews-component></app-reviews-component>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12 product-related">
                <h2>Related Products</h2>
            </div>
        </div>
        <div class="row search-product">
            <div class="col-xl-12 col-md-12 col-sm-12" >
                <!-- <div class="product-box">
                  
                </div> -->
                <app-product-slider [products]="topProductData | async"></app-product-slider>
            </div>
        </div>
    </div>
</section>