<ul class="header-dropdown line toptab ">
    <li class="iconsize d-lg-inline d-noned-lg-inline d-none">
        <a routerLink="/">
            <i class="fa fa-random fa-icon-color" aria-hidden="true"></i>
        </a>
    </li>
    <li class="iconsize d-lg-inline d-none">
        <a routerLink="/">
            <i class="fa fa-heart-o fa-icon-color" aria-hidden="true"></i>
            <span class="mini-counter count-wish">
                0
            </span>
        </a>
    </li>
    <li class="iconsize d-lg-inline d-none">
        <a routerLink="/">
            <i class="fa fa-shopping-cart fa-icon-color" aria-hidden="true"></i>
            <span class="mini-counter count-cart">
                0
            </span>
        </a>
    </li>
    <li class="iconsize onhover-dropdown mobile-account d-lg-inline d-none">
        <i class="fa fa-user-o fa-icon-color" aria-hidden="true"></i>
        <ul class="onhover-show-div ">
            <li>
                <a routerLink="/login" class="fa-icon-color btn-pr" >
                    Login
                </a>
            </li>
            <li>
                <a routerLink="/" class="fa-icon-color btn-pr">
                    Logout
                </a>
            </li>
        </ul>
    </li>
</ul>

<ul class="header-dropdown line toptab-mobile d-lg-none">
    <li class="iconsize">
        <a routerLink="/">
            <i class="fa fa-home fa-icon-color-mobile" aria-hidden="true"></i>
        </a>
    </li>
    <li class="iconsize">
        <a routerLink="/">
            <i class="fa fa-random fa-icon-color-mobile" aria-hidden="true"></i>
        </a>
    </li>
    <li class="iconsize">
        <a routerLink="/">
            <i class="fa fa-heart-o fa-icon-color-mobile" aria-hidden="true"></i>
            <span class="mini-counter count-wish-mobile">
                0
            </span>
        </a>
    </li>
    <li class="iconsize">
        <a routerLink="/">
            <i class="fa fa-shopping-cart fa-icon-color-mobile" aria-hidden="true"></i>
            <span class="mini-counter count-cart-mobile">
                0
            </span>
        </a>
    </li>
    <li class="iconsize onhover-dropdown mobile-account">
        <i class="fa fa-user-o fa-icon-color-mobile" aria-hidden="true"></i>
        <ul class="onhover-show-div">
            <li>
                <a routerLink="/" class="fa-icon-color">
                    Login
                </a>
            </li>
            <li>
                <a routerLink="/" class="fa-icon-color">
                    Logout
                </a>
            </li>
        </ul>
    </li>
</ul>