.btn-center {
  text-align: center !important;
}
.btn {
  line-height: 6px !important;
}
.forget-link-margin {
  margin-bottom: 15px;
  padding-top: 8%;
}
.link-margin {
  margin-bottom: 15px;
  padding-top: 16%;
}
.theme-form input {
  margin-bottom: 17px !important;
}
.link-color {
  color: #172337 !important;
}
.mobile-title {
  padding-bottom: 23px;
  padding-top: 8%;
  font-size: 24px;
  font-weight: 600;
}
.btn-pr:hover {
  cursor: pointer;
}
.form-control {
  font-size: 12px !important;
}
