<form class="theme-form">
    <div class="form-group">
        <label for="review">User Name</label>
        <input type="text" class="form-control" id="review" placeholder="Enter your username" required="">
    </div>
    <div class="form-group">
        <label for="review">Password</label>
        <input type="password" class="form-control" id="review" placeholder="Enter your password" required="">
        <a href="url">Forget Password</a>
    </div>
    <button class="btn btn-solid">Login</button>
</form>
