<!-- <div class="container"> -->
  <div class = "container">
  <!-- Image slider start -->
    <section class="section-b-space">
        <owl-carousel-o [options]="ImageSlider" class="image-slider">
          <ng-template carouselSlide>
            
            <div class="home text-center" [ngStyle]="{'background-image': 'url('+this.slider.imgUrl+')'}">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="slider-contain">
                      <div>
                        
                        <h4>{{this.slider.welcomeText}}</h4>
                        <h1>{{this.slider.productCategory}}</h1>
                        <a  class="btn btn-solid">shop now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         </ng-template>
        </owl-carousel-o>
    </section>

    <!-- Image slider End -->
    </div>

    <!-- <div class="container section-b-space">
      <div class="row">
          <div class="col">
              <div class="card">
                  <h5 class="card-header">Classes</h5>
                  <div class="card-body">
                      <h5 class="card-title">For Parallax Image - .parallax</h5>
                      <h5>contain-align - .text-left, .text-center, .text-right</h5>
                      <h5>contain-position - .p-left, .p-center, .p-right</h5>
                  </div>
              </div>
          </div>
      </div>
    </div> -->

