
    img#five {
    position: relative;
    top:50%;
    height: 50%;
    left: 0px;
    }
    
    img#six {
    position: relative;
    top:60%;
    height:30%;
    vertical-align:right;
    margin-right: 2%;
    }
    .img-part left{
        float:left;
      }
      .img-part right{
          float:right;
      }