<a href="{{this.banner.navUrl}}" >
    <div class="collection-banner ">
        <div class="img-part left ">
            <img src="{{this.banner.imgUrl}}" >
            </div>
       <div class="contain-banner">
            <div>
                <h4>{{this.banner.discountText}}</h4>
                <h2>{{this.banner.discountCategory}}</h2>
            </div>
        </div>
    </div>
</a>
    
<ul>
    <li *ngFor="let banner of persondata; let i = index">
       {{banner.id}}
    </li>
 </ul>



