<a href="{{this.banner.navUrl}}" >
    <div class="collection-banner ">
        <div class="img-part left ">
            <img id="five"src="{{this.banner.imgUrl}}" >
            </div>
       <div class="contain-banner">
            <div>
                <h4 id="one">{{this.banner.discountText}}</h4>
                <h2 id="two">{{this.banner.discountCategory}}</h2>
            </div>
        </div>
    </div>
   
    <div class="collection-banner ">
        <div class="img-part right">
           
            <img  id="six"src="{{this.banner.imagUrl}}"  >
            </div>
       <div class="contain-banner">
            <div>
                <h4 id="three">{{this.banner.discountTexts}}</h4>
                <h2 id="four">{{this.banner.discountCategorys}}</h2>
            </div>
        </div>
        </div>
   
</a>



