<header>
    <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main-menu">
          <div class="menu-left">
            <app-leftmenu></app-leftmenu>
            <div class="brand-logo">
              <a routerLink="">
                <!-- <img [src]="themeLogo" class="img-fluid" alt="logo"> -->
              </a>
            </div>
          </div>
          <div class="menu-right pull-right">
            <div>
              <app-mainmenu></app-mainmenu>
            </div>
            <!-- <div>
              <app-settings></app-settings>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
