.link-margin{
    margin-top: 10px;
}
.color-back{
    background-color: #fedf00;
}
.sizing1{
    width: 20% !important;
    margin-left: 8% !important;
}
.col-3-6{
    width: 35% !important;
}
.section-b-space
{
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.theme-card{
    border: 1px solid #fedf0099 !important;
}
.text-style{
    font-size: 30px;
    font-weight: 600;
    color: #2d2b2b;
    line-height: 2 !important;
}
.para-text{
    font-size: 18px !important;
    color: #615353 !important;
    margin-top: 24px !important;
}
.login-image{

    width: 100% !important;
}
.login-background{
    background-color: #f3f3f3;
}
.login-card-background{
    background-color: white;
}
.link-color{
    color: #172337 !important;
}
.cutomLoginModal{
    max-width: 700px !important;
}
.row-style{
    margin-right: -73px !important;
    margin-left: -67px !important;
}
.btn-style{
    position: absolute !important;
    right: -58px !important;
    top: -31px !important;
    padding: 0 !important;
    background: transparent !important;
    border: none !important;
    cursor: pointer !important;
    color: #ffffff !important;
    font-size: 63px !important;
    line-height: 1 !important;
    vertical-align: top !important;
    font-weight: 200 !important;
}