.par-txxt{
    color: #f70808;
    font-weight: 300;
    font-size:13px;
}

.sub-footer {
    background-color: #0f1d33;
}

.light-layout {
    background-color: #172337;
}

.footer-theme .sub-title h4 {
    color: #f7f1f1;
}

.subscribe h4 {
    color: #f1e8e8;
}
// .imgplay{
// width: 100px;
// height: 30px;

// }