.menubar--back-color {
  background-color: #fedf00 !important;
  margin-top: -22px !important;
}
.hr-color {
  margin-top: -11px;
}
.menutab {
  display: flex;
  align-items: center;
  padding-top: 14px;
}
.text-right {
  float: right;
}
