
<div class="main-navbar">
    <div id="mainnav">
      <div class="toggle-nav" >
        <i class="fa fa-bars sidebar-bar"></i>
      </div>
      <ul class="nav-menu" >
  
        <li class="back-btn">
          <div class="mobile-back text-right" >
            <span>Back</span>
            <i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
          </div>
        </li>
  
        <li >
          <!-- Sub -->
          <a href="javascript:void(0)" class="nav-link" >
           
            <div class="lable-nav" > </div>
            <span class="sub-arrow" ></span>
          </a>
          <!-- Link -->
          <a [routerLink]=""  class="nav-link"
           >
           
            <div class="lable-nav" ></div>
            <span class="sub-arrow" ></span>
          </a>
          <!-- External Link -->
          <a href="" class="nav-link" >
           
            <div class="lable-nav" ></div>
            <span class="sub-arrow" ></span>
          </a>
          <!-- External Tab Link -->
          <a href="" class="nav-link" >
          
            <div class="lable-nav" ></div>
            <span class="sub-arrow" ></span>
          </a>
  
          <!-- 2nd Level Menu -->
          <ul class="nav-submenu" >
            <li >
              <!-- Sub -->
              <a href="javascript:void(0)" >
              
                <span class="new-tag" ></span>
                <span class="sub-arrow" ></span>
              </a>
              <!-- Link -->
              <a [routerLink]="" >
             
                <span class="new-tag" ></span>
                <span class="sub-arrow" ></span>
              </a>
              <!-- External Link -->
              <a href="">
                
                <span class="new-tag" ></span>
                <span class="sub-arrow" ></span>
              </a>
              <!-- External Tab Link -->
              <a href="" >
               
                <span class="new-tag" ></span>
                <span class="sub-arrow" ></span>
              </a>
  
              <!-- 3rd Level Menu -->
              <ul class="nav-sub-childmenu">
                <li >
                  <!-- Link -->
                  <a [routerLink]="" >
                   
                    <span class="new-tag" ></span>
                  </a>
                  <!-- External Link -->
                  <a href=""
                    >
                    
                    <span class="new-tag" ></span>
                  </a>
                  <!-- External Tab Link -->
                  <a href="" 
                    >
                   
                    <span class="new-tag" ></span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
  
          <div class="mega-menu-container" >
            <div class="container">
              <div class="row">
                <div class="col mega-box" >
                  <div class="link-section">
                    <div class="menu-title">
                      <h5>
                          
                          <span class="sub-arrow" ></span>
                      </h5>
                    </div>
                    <div class="menu-content opensubmegamenu">
                      <ul >
                        <li >
                          <!-- Sub -->
                            <a href="javascript:void(0)" >
                             
                              <span class="new-tag" ></span>
                            </a>
                            <!-- Link -->
                            <a [routerLink]="" >
                             
                              <span class="new-tag" ></span>
                            </a>
                            <!-- External Link -->
                            <a href=""
                              >
                             
                              <span class="new-tag" ></span>
                            </a>
                            <!-- External Tab Link -->
                            <a href=""
                              >
                             
                              <span class="new-tag" ></span>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    </div>

  