<section>
   <div class="container">
      <div class="col-lg-12">
         <div class="row ">
            <div class="col-md-6 right" *ngFor="let bannerItem of topBannerData | async">
               <app-banners [banner]=bannerItem></app-banners>
            </div>
         </div> 
      </div>
   </div>
</section>
<section>
   <div class="container">
      <div class="col-lg-12">
         <div class="row ">
            <div class="col-md-6 right" *ngFor="let bannerItem of bottomBannerData | async">
               <app-banners [banner]=bannerItem></app-banners>
            </div>
         </div> 
      </div>
   </div>
</section>