<form class="theme-form " [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class=" mobile-title">
        <span class="text-style">Forget Password</span>
    </div>
    <label>Email/MobileNumber</label>
    <div class="input-group ">
        <input type="text" class="form-control" placeholder="Email/MobileNumber" formControlName="userName"
            [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
    </div>
    <span class="float-right">
        <i class="fa fa-refresh btn-pr" aria-hidden="true"></i>
    </span>
    <div *ngIf="submitted && f.userName.errors" class="text-danger">
        <div *ngIf="f.userName.errors.required" class="par-txxt">*required</div>
    </div>
    <div class="btn-center">
        <button [disabled]="!resetPasswordForm.valid" class="btn btn-solid" >Verify</button>
    </div>
    <!-- <label>Enter your OTP</label>

    <div class="input-group ">
        <input type="password" class="form-control" placeholder="OTP send to your Email/MobileNumber" formControlName="otpnumber"
            [ngClass]="{ 'is-invalid': submitted && f.otpnumber.errors }">
    </div>
    <div *ngIf="submitted && f.otpnumber.errors" class="text-danger">
        <div *ngIf="f.otpnumber.errors.required" class="par-txxt">*OTP is required</div>
    </div> -->
    <!-- <label>New Password</label>
     
    <div class="input-group ">
        <input type="password" class="form-control" placeholder="New Password" formControlName="newpassword"
            [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }">
    </div>
    <div *ngIf="submitted && f.newpassword.errors" class="text-danger">
        <div *ngIf="f.newpassword.errors.required" class="par-txxt">*NewPassword is required</div>
    </div>
    <div class="btn-center">
        <button [disabled]="!resetPasswordForm.valid" class="btn btn-solid" (click)="login()">Login</button>
    </div> -->
    <div class="link-margin">
        <a (click)="registerPage()" class="link-color btn-pr">New to KumariA2Z? Create an account</a>
    </div>
</form>

