<form class="theme-form " [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class=" mobile-title">
        <span class="text-style">Forget Password</span>
    </div>
    <label>Email/MobileNumber</label>
    <div class="input-group ">
        <input type="text" [readonly]="isResetPasswordForm" class="form-control" placeholder="Email/MobileNumber"
            formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
    </div>
    <div *ngIf="submitted && f.userName.errors" class="text-danger">
        <div *ngIf="f.userName.errors.required" class="par-txxt">*required</div>
    </div>
    <div class="btn-center" *ngIf="this.isButtonVisible">
        <button class="btn btn-solid" (click)="userVerfiy()">Verify</button>
    </div>
</form>
<form class="theme-form " [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">

    <div *ngIf="this.showDiv">

        <label>Enter your OTP</label>
        <div class="float-right success" *ngIf="showSuccessMessage">
            OTP Send Your MobileNumber
        </div>
        <div class="input-group ">
            <input type="number" class="form-control" placeholder="OTP send to your Email/MobileNumber"
                formControlName="otp" [ngClass]="{ 'is-invalid': submitted && n.otp.errors }">
        </div>
        <span class="float-right btn-pr" (click)="resendOtp()">
            Resend Otp <i class="fa fa-refresh btn-pr" aria-hidden="true"></i>
        </span>
        <div *ngIf="submitted && n.otp.errors" class="text-danger">
            <div *ngIf="n.otp.errors.required" class="par-txxt">*OTP is required</div>
        </div>
        <label>New Password</label>

        <div class="input-group ">
            <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword"
                [ngClass]="{ 'is-invalid': submitted && n.newPassword.errors }">
        </div>
        <div *ngIf="submitted && n.newPassword.errors" class="text-danger">
            <div *ngIf="n.newPassword.errors.required" class="par-txxt">*newPassword is required</div>
        </div>
        <div class="btn-center">
            <button [disabled]="!newPasswordForm.valid" class="btn btn-solid"
                (click)="submit()">Submit</button>
        </div>
        <div class="link-margin">
            <a (click)="registerPage()" class="link-color btn-pr">New to KumariA2Z? Create an account</a>
        </div>
    </div>
</form>