<section class="section-b-space">
  <div class="container padding-cls">
    <div class="checkout-page">
      <div class="checkout-form">
        <form>
          <div class="row">
            <div class="col-lg-8 col-sm-12 col-xs-12 col-md-8">
              <div class="checkout-title">
                <h3>Product Detail</h3>
              </div>
              <app-cart></app-cart>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4">
              <app-checkout-order></app-checkout-order>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
