<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <owl-carousel-o *ngIf="this.products?.products!=null" class="product-m no-arrow" [options]="ProductSliderConfig">
          <ng-container  *ngFor="let product of this.products.products">
            <ng-template carouselSlide>
              <div class="product-box">
                <app-product-card *ngIf="product && (product.stocks.length>0)"
                 [product]="product"
                 [onHowerChangeImage]="true"
                  [thumbnail]="true"
                  [loader]="false">
                </app-product-card>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>