<!-- price filter start here -->
<div class="collection-collapse-block border-0" [class.open]="collapse">
  <h3 class="collapse-block-title" (click)="collapse = !collapse">price</h3>
  <div class="collection-collapse-block-content">
    <div class="collection-brand-filter">
      <div class="mt-2">
        <ng5-slider [(value)]="min" [(highValue)]="max" [options]="options" (userChangeEnd)="appliedFilter($event)">
        </ng5-slider>
      </div>

      <div class="mt-2 d-flex-space-between">
        <input type="number" class="width-75" [(ngModel)]="min" (input)="onMinChange($event)" name="min" />

        <span>to</span>

        <input type="number" class="width-75" [(ngModel)]="max" (input)="onMaxChange($event)" name="max" />
      </div>
    </div>
  </div>
</div>
